{% extends 'txtbook/base.html' %}

    {% load static %}
    {% block content %}

    <div class="jumbotron text-center">
        <h1><b>
                <font color="brown"> Textbooks from UVa:</font>
            </b></h1>
    </div>

    {% if books %}
    <ul class="text-center">
        {% for book in books %}
          {% if book.user_created == False %}
            <p class="text-center"><a class="text-center" href="{% url 'txtbook:text' pk=book.id %}">{{ book.title }}</a></p>
          {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">No textbooks matched the search.</p>
    {% endif %}

    {% endblock %}
